@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5fac1;
}

footer{
    padding-top: 45px;
    padding-bottom: 25px;
    background-color: black;
    
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}



h1, h2, h3{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    text-decoration: underline;
}

h3{
    font-size: 25px;
}

p span{
    color: red;
    font-size: 20px;
}

#nunca_trailer{
    color: red;
    text-decoration: underline;
}

img, iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;
}

.sin-borde{
    border: none;
}

.button {
    border-radius: 4px;
    background-color: violet;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media (min-width: 500px){
    body{
        background-color: green;
    }
    p {
        font-size: 25px;
    }

    h1{
        font-size: 60px;
    }
    
    h2{
        font-size: 40px;
        text-decoration: underline;
    }
    
    h3{
        font-size: 30px;
    }
    

}

@media (min-width: 768px){
    body{
        background-color: blue;
    }

    p {
        font-size: 30px;
    }

    h1{
        font-size: 80px;
    }
    
    h2{
        font-size: 60px;
        text-decoration: underline;
    }
    
    h3{
        font-size: 40px;
    }
    
}