@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
footer {
  margin-top: 10px;
  padding-top: 45px;
  padding-bottom: 25px;
  background-color: black;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.dia {
  background-color: grey;
}

.primer-dia-enero {
  grid-column-start: 1;
}

.primer-dia-febrero {
  grid-column-start: 4;
}

.mes {
  text-align: center;
  width: 300px;
}

.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encuentro {
  background-color: orchid;
}

.contenedor-iframe {
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
  overflow: hidden;
  padding-top: 30%;
}

.responsive-iframe-1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.button {
  border-radius: 4px;
  background-color: #5a918a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  margin: 5px;
  transition: 1s;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5fac1;
}

h1,
h2,
h3 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
  text-decoration: underline;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 35px;
}
p span {
  color: violet;
  text-decoration: underline;
}

img {
  border: 2px solid blue;
}

.sin-borde {
  border: none;
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.contacto {
  float: center;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  background-color: #FFFDD0;
  padding: 20px;
  text-align: center;
}
.card p {
  font-size: 12px;
}
.card h3 {
  font-size: 40px;
}
.card img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.about-section {
  padding: 50px;
  text-align: center;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Nesting */
.columna {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.columna img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.centro {
  display: flex;
  padding: 4px;
  min-width: 0;
  justify-content: center;
}
.centro img {
  width: 75%;
}

@media screen and (max-width: 800px) {
  p {
    font-size: 30px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
    text-decoration: underline;
  }
  h3 {
    font-size: 30px;
  }
  .columna {
    flex: 50%;
    max-width: 50%;
  }
  .card {
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .card p {
    font-size: 20px;
  }
  .card h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 25px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
    text-decoration: underline;
  }
  h3 {
    font-size: 30px;
  }
  .columna {
    flex: 100%;
    max-width: 100%;
  }
  .contacto {
    float: center;
    width: 70%;
    margin-bottom: 16px;
    padding: 0px;
  }
  .card {
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .card p {
    font-size: 30px;
  }
  .card h3 {
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */