.dia {
    background-color: grey;
}

.primer-dia-enero {
    grid-column-start: 1;
}

.primer-dia-febrero {
    grid-column-start: 4;
}

.mes {
    text-align: center;
    width: 300px;
}

.calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encuentro {
    background-color: $encuentro-color;
}